.Recovery-Box {
  background-color: var(--color-gris-claro);
  height: 76vh;
}

.Recovery-Box .Modal-Input-Box {
  min-width: 170px;
}

.Recovery-Form {
  background-color: white;
  padding: 20px;
  border-radius: 5%;
}

.Recovery-Title {
  font-family: "MontserratBlack", sans-serif;
}

.Recovery-Text {
  font-family: "MontserratRegular", sans-serif;
  font-size: 0.7em;
}

.Recovery-Inputs {
  padding: 20px 0;
}

@media (min-width: 1024px) {
  .Recovery-Form {
    min-width: 35%;
  }
}

.New-Password-Alert {
  padding: 0 0 20px 0;
  margin-top: -35px;
}

.New-Password-Alert-Text {
  font-family: "MontserratRegular", sans-serif;
  color: #f14336;
}
