.Modal-Button-Inactive {
  background-color: var(--color-gris-claro) !important;
  border-color: var(--color-gris-claro) !important;
}

.Recovery-Page .Recovery-Text {
  margin-bottom: 20px;
  margin-left: 0;
  text-align: center;
}

.Recovery-Alert {
  margin: 20px 0;
  border: 1px solid red;
  border-radius: 10px;
}

.Recovery-Alert-Text {
  color: red;
  text-align: center;
  margin-top: 20px;
}

.Recovery-Success-Alert {
  margin: 20px 0;
  font-family: "MontserratBold", sans-serif;
  color: #64bc44;
}
